<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Gestion Escales Web</display-name>
  <context-param>
    <param-name>db.url</param-name>
    <param-value>jdbc:mariadb://localhost:3306/Gestion_Escales</param-value>
  </context-param>
  <context-param>
    <param-name>db.username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>db.password</param-name>
    <param-value></param-value>
  </context-param>
  <servlet>
    <servlet-name>ConsignataireServlet</servlet-name>
    <servlet-class>com.gestionescale.servlet.ConsignataireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsignataireServlet</servlet-name>
    <url-pattern>/consignataire/*</url-pattern>
  </servlet-mapping>
<servlet>
  <servlet-name>ArmateurServlet</servlet-name>
  <servlet-class>com.gestionescale.servlet.ArmateurServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ArmateurServlet</servlet-name>
  <url-pattern>/armateur/*</url-pattern>
</servlet-mapping>
  <servlet>
    <servlet-name>NavireServlet</servlet-name>
    <servlet-class>com.gestionescale.servlet.NavireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NavireServlet</servlet-name>
    <url-pattern>/navire/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EscaleServlet</servlet-name>
    <servlet-class>com.gestionescale.servlet.EscaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EscaleServlet</servlet-name>
    <url-pattern>/escale/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BonPilotageServlet</servlet-name>
    <servlet-class>com.gestionescale.servlet.BonPilotageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BonPilotageServlet</servlet-name>
    <url-pattern>/bonpilotage/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gestionescale.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.gestionescale.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UtilisateurServlet</servlet-name>
    <servlet-class>com.gestionescale.servlet.UtilisateurServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UtilisateurServlet</servlet-name>
    <url-pattern>/utilisateur</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>FactureServlet</servlet-name>
  <servlet-class>com.gestionescale.servlet.FactureServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>FactureServlet</servlet-name>
  <url-pattern>/facture/*</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>NotificationServlet</servlet-name>
  <servlet-class>com.gestionescale.servlet.NotificationServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>NotificationServlet</servlet-name>
  <url-pattern>/notifications</url-pattern>
</servlet-mapping>

<filter>
    <filter-name>NotificationCountFilter</filter-name>
    <filter-class>com.gestionescale.filter.NotificationCountFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>NotificationCountFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
<filter>
    <filter-name>UserContextFilter</filter-name>
    <filter-class>com.gestionescale.filter.UserContextFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>UserContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>